@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.input {
  @apply transition-colors duration-150 ease-in-out border border-gray-300 shadow-md hover:border-blue-500 hover:shadow-lg text-[#555] py-[6px] px-3 h-[34px] outline-none rounded;
}
